@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  background-color: #f6f8fa;
  color: #06060b;
  min-height: 100%;
  font-size: 18px;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'Teko', sans-serif;
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  &:active {
    transform: scale(0.9);
  }
}
