.wrapper {
  background: #f6f8fa;
  position: sticky;
  top: 0;
  z-index: 3000;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 6px 24px;
}
.container {
  max-width: 1078px;
  margin: 0 auto;
  display: flex;
  padding: 1em 0;
  align-items: center;

  justify-content: space-between;

  .navbar {
    flex: 0.5;
    font-size: 1.05rem;
  }

  ul {
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
      list-style: none;
    }
  }

  .btn__grp {
    display: flex;
    justify-content: space-between;
  }
  .btn {
    svg {
      margin-left: 0.35em;
    }
    background: #ffffff;
    padding: 0.5em;
    font-weight: 700;
    display: flex;
    align-items: center;
    &:nth-child(1) {
      margin-right: 1em;
    }
  }
}
