.wrapper {
  background: #fff;
  width: 100%;
  background-color: #000;
  padding: 0 1em;
}

.container {
  margin: 0 auto;
  width: 90vw;
  display: flex;
  justify-content: space-between;

  &__left {
    z-index: 1;
    flex: 0.5;
    margin-top: 2em;
    color: #fafafa;

    h1 {
      font-weight: 800;
      letter-spacing: 4px;
      font-size: 2.5rem;
      line-height: 0.7;
      font-family: 'Teko', sans-serif;
      @media screen and(max-width:1400px) {
        font-size: 2rem;
      }
    }
    h2 {
      letter-spacing: 1px;
      font-weight: 500;
      margin-bottom: 1em;
      color: #858585;
      font-size: 1.5rem;
    }
    p {
      font-size: 1.5rem;
    }

    button {
      margin-top: 1em;
      font-size: 1.1rem;
      color: #06060b;
      box-shadow: 6px 6px 0 1px #858585;
      background-color: #fafafa;
      font-weight: 600;
      text-transform: uppercase;
      padding: 0.5em;
      transition: all ease-in-out 0.15s;

      &:hover {
        cursor: pointer;
        transform: scale(0.95);
      }
    }

    span {
      font-weight: 600;
    }
  }

  &__right {
    flex: 0.5;
    // height: 50vw;
    // width: 50vw;

    img {
      object-fit: contain;
      z-index: 0;

      // filter: grayscale(1);
    }
  }
  @media screen and(max-width:1400px) {
    flex-direction: column;
  }
}
